@import "bootstrap";
body {
  background-color: #f8f9fa;
}
.card {
  border-radius: 0.6rem;
}
#country_map {
  height: 100%;
  width: 100%;
}
.bar-chart-row {
  align-items: flex-end;
}
.bar {
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  transition: height 0.5s ease;
  min-height: 7px;
}

.bar-blue {
  background-color: #d3e1fc;
  border: 1px solid #3770f4;
}
.bar-green {
  background-color: #d5e6de;
  border: 1px solid #408558;
}
.bar-yellow {
  background-color: #fdf3d1;
  border: 1px solid #f6c852;
}
.bar-chart-row > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
}
.bar-wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
}
.bar-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
}
